logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
node_modules
target
dist
dist-ssr
out
build
.env
.env.local
.env.*.local
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.mvn/
.settings/
.classpath
.project
*.iml
*.ipr
*.iws
Thumbs.db
*.DS_Store
*.tmp
*.bak
*.swp
*.orig
*.rej
coverage/
*.lcov